{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% for post in paginator.items %}
        <article class="media content-section">
            <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
                 alt="article user image" class="rounded-circle article-img">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="me-2" href="{{ url_for('posts.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%d/%m/%Y') }}</small>
                </div>
                <h2>
                    <a class="article-title" href="{{ url_for('posts.post_view', post_id=post.id) }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page in paginator.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page %}
            <a href="{{ url_for('posts.user_posts', username=username, page=page) }}" class="btn btn-outline-info mb-4 {% if paginator.page == page %}bg-info text-white{% endif %}">{{ page }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}